footer{
  min-height: 100px;
  background-color: black;
}
.footer-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  font-size: 200%;
}

.footer-icons a, .footer-links a, .footer-links span {
  color: grey;
}
.footer-icons a:hover, .footer-links a:hover {
  color: #ffff00;
}
.footer-links {
  text-align: center;
  height: 21px;
}
