@media only screen and (max-width: 360px) {
  #projects-list .project {
    width: calc(100% - 10px)!important;
  }
}

@media only screen and (max-width: 600px) {
  .skill {
    width: 33%;
  }
  .progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    & > div {
      text-align: center;
      padding: 3px 3% 13px 3%;
      width: 80%;
    }
  }
  .about-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-block > div {
    width: 80%;
    height: 100%;
    text-align: left;
  }
  .about-elements {
    padding: 7px 0;
  }
  .about-avatar {
    display: block;
  }
  .contact-info {
    flex-direction: column;

  }
  form textarea{
    margin: 13px 0;
  }
}

@media only screen and (max-width: 768px) {
  .project {
    width: calc(50% - 10px)!important;
  }
}

@media only screen and (max-width: 992px) {
  .project {
    width: calc(33.3% - 10px);
  }
}


@media only screen and (max-width: 1200px) {

}
