body {
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Inconsolata', monospace;
}
button {
  background-color: white;
}
section{
  padding: 30px 0 50px 0;
}
section:nth-child(even){
  background-color: rgba(46, 49, 49, 0.1)
}
a:hover {
  color: yellow;
}
h3 {
  padding: 20px;
  text-align: center;
  font-size: 250%;
}
h4 {
  padding: 30px;
  text-align: center;
  font-size: 200%;
}
.hidden{
  display: none;
}
.button {
  padding: 7px 13px;
  border: 1px solid white;
  cursor: pointer;
  margin: 5px;
  
  &:hover {
    color: black;
    background-color: white;
  }
  &.active{
    color: black;
    background-color: white;
  }
}


.button-wb {
  padding: 7px 13px;
  border: 1px solid black;
  cursor: pointer;
  margin: 5px;
  text-transform: capitalize;
  
  &:hover {
    color: white;
    background-color: black;
  }
  
  &.active{
    color: white;
    background-color: black;
  }
}

